{% extends 'mainapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lkapp.css' %}" />
{% endblock %}

{% block user_menu %}
{% include 'lkapp/includes/inc__lk_menu.html' %}
{% endblock %}

{% block content %}
<div class="container-2 w-container p-5 mt-3 mb-5 bg-light shadow rounded"
    style="width: 100%; margin-left: auto; margin-right: auto; max-width: 960px;">
    <div class="mb-5">
        <h4>Изменить профиль</h4>
    </div>
    <form method="post" enctype="multipart/form-data" class="mx-auto" style="max-width: 400px">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="btns_up_prof d-flex justify-content-between">
            <input class="form-control btn btn-sm btn_save text-center shadow" type="submit" value="Cохранить">
            <button type="button" class="form-control mx-3 btn btn-sm btn-outline-danger btn_archive text-center shadow"
                data-bs-toggle="modal" data-bs-target="#deleteConfirm">
                Удалить аккаунт
            </button>
        </div>
</div>
<div id="deleteConfirm" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Удаление аккаунта</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mb-5">Вы действительно хотите удалить свой
                    аккаунт на всегда?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-delete" id="delete-profile">
                    Удалить
                </button>
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">
                    Отмена
                </button>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/delete_profile.js' %}"></script>
</form>
{% endblock %}